@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  align-items: center;
  animation: slide 15s linear infinite;
  width: 200%;
}

.logos-slide img {
  width: 45px;
  margin: 0 15px;
}
