@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logos-slide {
  display: flex;
  align-items: center;
  animation: slide 20s linear infinite;
  width: 200%; /* Adjust based on the number of items */
}

.logo-set {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevent shrinking */
}

.size-10 {
  width: 45px;
  margin: 0 15px;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}
